<section id="about" class="position-relative text-center py-5">
    <p class="fw-bold mb-2">Get To Know More</p>
    <h1 class="title mb-4">About Me</h1>
  
    <div class="section-container row d-flex justify-content-center align-items-center gap-4">
      <div class="section__pic-container col-sm-4">
        <img
          src="./assets/icons/developer.webp"
          alt="Profile picture"
          class="about-pic img-fluid"
        />
      </div>
  
      <div class="about-details-container col-sm-6 d-flex flex-column align-items-center text-center text-lg-start">
        <div class="about-containers d-flex flex-lg-row justify-content-center gap-4 my-4">
          <div class="details-container p-3 col-sm-12 bg-white text-center">
            <img src="./assets/experience.png" alt="Experience icon" class="icon mb-2" />
            <h3>Experience</h3>
            <p>2+ years <br />Frontend Development<br> Angular Developer</p>
          </div>
          <div class="details-container p-3 col-sm-12 bg-white text-center">
            <img src="./assets/education.png" alt="Education icon" class="icon mb-2" />
            <h3>Education</h3>
            <p>B.Sc. Computer Science<br />M.Sc. Computer Science</p>
          </div>
        </div>
  
        <div class="text-container px-lg-3">
          <p>
            I'm a passionate junior software developer with 2+ years of hands-on experience in front-end development,
            specializing in building dynamic and responsive web applications using the Angular framework and Kendo UI. I've
            tackled complex front-end challenges, optimized UI/UX for seamless user experiences, and contributed to the
            successful delivery of key features in projects like Yellowstone. My focus on clean, efficient code, responsive
            design, and continuous learning drives me to solve problems and improve web functionality. Key skills include
            Angular, Kendo UI, JavaScript, TypeScript, HTML, CSS, and UI/UX optimization.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- <section id="about" class="position-relative text-center py-5">
  <p class="fw-bold mb-2">Get To Know More</p>
  <h1 class="title mb-4">About Me</h1>

  <div class="section-container d-flex flex-column flex-lg-row align-items-center gap-4">
    <div class="section__pic-container">
      <img
        src="./assets/about-pic.png"
        alt="Profile picture"
        class="about-pic img-fluid"
      />
    </div>

    <div class="about-details-container d-flex flex-column align-items-center text-center text-lg-start">
      <div class="about-containers d-flex flex-column flex-lg-row justify-content-center gap-3 my-4">
        <div class="details-container p-3 bg-white text-center">
          <img src="./assets/experience.png" alt="Experience icon" class="icon mb-2" />
          <h3>Experience</h3>
          <p>2+ years <br />Frontend Development</p>
        </div>
        <div class="details-container p-3 bg-white text-center">
          <img src="./assets/education.png" alt="Education icon" class="icon mb-2" />
          <h3>Education</h3>
          <p>B.Sc. Bachelor's Degree<br />M.Sc. Master's Degree</p>
        </div>
      </div>

      <div class="text-container px-lg-3">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic quis
          reprehenderit et laborum, rem, dolore eum quod voluptate
          exercitationem nobis, nihil esse debitis maxime facere minus sint
          delectus velit in eos quo officiis explicabo deleniti dignissimos.
          Eligendi illum libero dolorum cum laboriosam corrupti quidem,
          reiciendis ea magnam? Nulla, impedit fuga!
        </p>
      </div>
    </div>
  </div>

  <img
    src="./assets/arrow.png"
    alt="Arrow icon"
    class="icon arrow position-absolute"
    (click)="navigateToExperience()"
  />
</section> -->
